<h1>Editar Raça</h1>

<form method="post" action="/raca/editar">
    <label for="campo_nome">Nome</label>
    <input type="text" id="campo_nome" name="nome" />
    <label for="campo_especie">Especie:</label>
    <select id="campo_especie" name="especie">
        <option value="Cachorro">Cachorro</option>
        <option value="Gato">Gato</option>
    </select>
</form>