<h1>Lista de Raças</h1>

<table>
    <thead>
        <!-- Cabeçalho da tabela -->
        <tr>
            <!-- Linha da tabela -->
            <th>Código</th> <!-- Coluna específica do cabeçalho -->
            <th>Nome</th> <!-- Coluna específica do cabeçalho -->
            <th>Espécie</th> <!-- Coluna específica do cabeçalho -->
        </tr>
    </thead>
    <tbody>
        <!-- Lugar dos registros da tabela -->
        <tr>
            <td>1</td> <!-- Coluna específica para body -->
            <td>Pinscher</td> <!-- Coluna específica para body -->
            <td>Cachorro</td> <!-- Coluna específica para body -->
        </tr>
    </tbody>
</table>